.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.input_label {
  font-size: 30px;
}
.input_field {
  width: 90vw;
  max-width: 560px;
  background-color: rgba(240, 248, 255, 0.808);
}

.error_text {
  color: red;
  font-size: 14px;
}
