.msg_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.msg_wrapper_yourself {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  padding: 0 6px;
}
.msg_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0 6px;
}

.msg_body_yourself {
  max-width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.msg_body {
  max-width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.msg_body_tip_yourself {
  position: relative;
  top: 14px;
  right: 7px;
  min-width: 10px;
  min-height: 10px;
  transform: rotate(45deg);
  z-index: 2;
  background-color: var(--contrast-color-1);
  border-top: 2px solid greenyellow;
  border-right: 2px solid greenyellow;
}
.msg_body_tip {
  position: relative;
  top: 14px;
  left: 6px;
  min-width: 10px;
  min-height: 10px;
  transform: rotate(45deg);
  z-index: 2;
  background-color: rgb(166, 230, 255);
  border-left: 2px solid var(--main-color-2);
  border-bottom: 2px solid var(--main-color-2);
}

.msg_content {
  max-width: 86%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  z-index: 1;
}

.msg_body_color_yourself {
  background-color: var(--contrast-color-1);
  border: 2px solid greenyellow;
  /* box-shadow: 0 0 5px greenyellow; */
}
.msg_body_color {
  background-color: rgb(166, 230, 255);
  border: 2px solid var(--main-color-2);
}

.text_wrapper {
  max-width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}
.image_wrapper {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.file_wrapper {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  border-radius: 10px;
}

.avatar {
  position: relative;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border: solid 4px #00a7d1;
  cursor: pointer;
  font-size: 42px;
  background-color: var(--main-color-1);
  transition: all 0.3s;
}
.avatar:hover {
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.815);
}

.notification {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: solid 2px var(--main-color-2);
}

/* group message */
.member_name_content_wrapper {
  width: 86%;
  max-width: 86%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.align_left {
  align-items: flex-start;
}
.align_right {
  align-items: flex-end;
}
.member_name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: gray;
}
.avatar_member {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  border: solid 4px #00a7d1;
  cursor: pointer;
  font-size: 42px;
  background-color: var(--main-color-1);
  transition: all 0.3s;
}
.avatar_member:hover {
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.815);
}
