.main {
  /* 188 = 86(chatMenu) + 102(navBar) */
  height: calc(100vh - 188px);
  min-height: calc(100vh - 188px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid red;
}

.body {
  /* 188 = 86(chatMenu) + 102(navBar) */
  min-height: calc(100vh - 188px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border: 1px solid red;
}

.chat_logs {
  height: auto;
  min-height: 20%;
  max-height: 90%;
  min-width: 100%;
  border: 1px solid blue;
  transition: all 0.5s;
}
.input_container {
  height: auto;
  min-height: 10%;
  max-height: 80%;
  min-width: 100%;
  background-color: var(--navbar-color);
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  z-index: 2;
}
.bottom_bg {
  position: relative;
  bottom: 50px;
  min-height: 100px;
  min-width: 100%;
  background-color: var(--navbar-color);
  z-index: 1;
}

.slide_1st {
  background-color: rgba(255, 255, 255);
  background-image: var(--modal-bgc-1);
  z-index: 9;
  position: relative;
  width: 100%;
  min-height: 94%;
  padding: 12px 0 40px 0;
  bottom: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}

.slide_2nd {
  background-color: white;
  background-image: var(--modal-bgc-1);
  z-index: 9;
  position: relative;
  width: 100%;
  min-height: 94%;
  padding: 12px 0 40px 0;
  bottom: 200.5%;
  overflow-y: visible;
  overflow-x: hidden;
}
