.main {
  /* 188 = 86(chatMenu) + 102(navBar) */
  height: calc(100vh - 188px);
  min-height: calc(100vh - 188px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
}

.body {
  /* 238 = 86(chatMenu) + 102(navBar) + 50(buttons-container)*/
  min-height: calc(100vh - 238px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.chat_logs {
  height: 95%;
  min-height: 20%;
  max-height: 95%;
  min-width: 100%;
  max-width: 100%;
  transition: all 0.5s;
}
.input_container {
  height: auto;
  min-height: 40px;
  max-height: 80%;
  min-width: 100%;
  background-color: var(--navbar-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  padding-top: 10px;
  transition: all 0.5s;
}

/* the visible height of the container is 50px + 20px padding 
  the rest of the height is under the input-container, to cover the background
  inconsistence while the input-container is being resized

  PS: a new method is found to solve the expansion issue of the input-container
      No need to use the resize function
*/
.buttons_container {
  position: relative;
  bottom: 20px;
  min-height: 60px;
  min-width: 100%;
  background-color: var(--navbar-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  transition: all 0.5s;
}
.buttons_wrapper {
  width: 90%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.buttons_wrapper_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.slide_anchor {
  min-width: 100%;
}

.file_warning {
  font-size: 16px;
  color: red;
}

.send_button {
  width: 160px;
  color: var(--main-color-4);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.send_button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      var(--main-color-2) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    no-repeat;
  z-index: 0;
  border-radius: 4px;
  left: -101%;
  transition: all 0.5s;
}
.send_button:hover::before {
  transform: translateX(101%);
  transition: all 0.5s;
}
.send_button_content {
  height: 26px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-height: 775px) {
  .input_container {
    overflow-y: scroll;
  }
}
