.main {
  /* 188 = 86(chatMenu) + 102(navBar) */
  height: calc(100vh - 188px);
  min-height: calc(100vh - 188px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid red;
}

.body {
  /* 238 = 86(chatMenu) + 102(navBar) + 50(buttons-container)*/
  min-height: calc(100vh - 238px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border: 1px solid red;
}

.chat_logs {
  height: 95%;
  min-height: 20%;
  max-height: 95%;
  min-width: 100%;
  border: 1px solid blue;
  transition: all 0.5s;
}
.input_container {
  height: auto;
  min-height: 5%;
  max-height: 80%;
  min-width: 100%;
  background-color: var(--navbar-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0;
}
.preview_image_wrapper {
  position: relative;
  max-height: 150px;
  max-width: 300px;
  animation: append-animate 1s linear;
}
@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.preview_image {
  max-height: 150px;
  max-width: 200px;
}

/* the visible height of the container is 50px + 20px padding 
  the rest of the height is under the input-container, to cover the background
  inconsistence while the input-container is being resized
*/
.buttons_container {
  position: relative;
  bottom: 60px;
  min-height: 100px;
  min-width: 100%;
  background-color: var(--navbar-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  transition: all 0.5s;
}

.slide_anchor {
  min-width: 100%;
}

.file_warning {
  font-size: 16px;
  color: red;
}
