.preview_image_wrapper {
  position: relative;
  max-height: 162px;
  max-width: 312px;
  transition: all 0.5s;
  display: flex;
  flex-flow: row;
}
.preview_image {
  max-height: 150px;
  max-width: 300px;
  transition: all 0.5s;
  border-radius: 10px;
  border: solid 5px var(--main-color-1);
  background-color: var(--main-color-1);
  object-fit: contain;
}

.preview_file_wrapper {
  max-height: 50px;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  animation: append-file 0.5s linear;
}
.file_sub_wrapper {
  max-height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  object-fit: contain;
  padding-bottom: 10px;
  animation: append-file 0.5s linear;
}

@keyframes append-file {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.preview_file {
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.delete_button {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s;
}

.delete_button:hover {
  transition: all 0.3s;
  background-color: rgba(255, 0, 0, 0.582);
}
