.main {
  flex-flow: row nowrap;
  display: flex;
  width: 68px;
  height: 68px;
}

.avatar {
  border: solid 4px #008badc2;
  width: 90%;
  height: 90%;
  cursor: pointer;
  transition: 0.5s;
}
.avatar:hover {
  transition: 0.5s;
  border: solid 4px #002a798f;
  box-shadow: 0 0 10px #00586e, 0 0 20px #00586e;
  transform: scale(1.2);
  z-index: 3;
}

.status_dot {
  position: relative;
  min-width: 28%;
  height: 28%;
  right: 15%;
  top: 70%;
  border-radius: 20px;
  z-index: 2;
}
.color_online {
  background-color: rgb(6, 201, 49);
  box-shadow: 0 0 8px rgb(6, 201, 49);
  border: 2px solid rgb(5, 145, 35);
}
.color_away {
  background-color: rgb(228, 213, 0);
  box-shadow: 0 0 8px rgb(228, 213, 0);
  border: 2px solid rgb(177, 165, 8);
}
.color_busy {
  background-color: rgb(247, 9, 9);
  box-shadow: 0 0 8px rgb(247, 9, 9);
  border: 2px solid rgb(163, 7, 7);
}
.color_offline {
  background-color: rgb(151, 151, 151);
  box-shadow: 0 0 8px rgb(151, 151, 151);
  border: 2px solid rgb(78, 78, 78);
}

.dot_busy {
  position: relative;
  width: 50%;
  height: 25%;
  top: 25%;
  left: 25%;
  border-bottom: solid 2px black;
}

.dot_away {
  position: relative;
  width: 35%;
  height: 35%;
  top: 25%;
  left: 40%;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}
