.found_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.border {
  margin-top: 20px;
  height: 5px;
  min-width: 145%;
  background-image: var(--border-color-2);
}

.avatar_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.username {
  max-width: 70%;
  font-size: 30px;
}

.button_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.button {
  float: right;
  font-size: 20px;
}
.button:hover {
  background: var(--button-bgc-2);
}

@media screen and (max-width: 765px) {
  .title {
    font-size: 30px;
  }
  .border {
    margin: 0;
  }
  .button {
    font-size: 16px;
  }

  .username {
    font-size: 24px;
  }
}
