.button_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.button {
  text-transform: none;
  font-family: "Quantico", sans-serif;
  color: var(--main-color-3);
  font-size: 18px;
  padding-bottom: 2px;
  padding-top: 2px;
  max-width: 70vw;
  overflow: hidden;
}
.button:hover {
  box-shadow: 0 0 4px var(--main-color-3);
}
.username {
  max-width: 68vw;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.popover_box {
  border: solid var(--navbar-color) 3px;
  border-radius: 4px;
  background: var(--modal-bgc-2);
  min-width: 140px;
  display: flex;
  gap: 6px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.status {
  width: 100%;
  text-align: left;
  margin-left: 10px;
  color: var(--main-color-1);
  font-size: 14px;
}

.status_button {
  text-transform: none;
  font-family: "Quantico", sans-serif;
  color: var(--main-color-3);
  font-size: 14px;
  min-width: 126px;
  min-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.status_button:hover {
  background-color: rgba(131, 131, 131, 0.226);
}

.status_border {
  position: relative;
  right: 12px;
  height: 3px;
  width: 120%;
}
.color_green {
  background-image: linear-gradient(270deg, transparent, rgb(6, 201, 49));
}
.color_red {
  background-image: linear-gradient(270deg, transparent, rgb(247, 9, 9));
}
.color_yellow {
  background-image: linear-gradient(270deg, transparent, rgb(228, 213, 0));
}
.color_grey {
  background-image: linear-gradient(270deg, transparent, rgb(78, 78, 78));
}

.color_offline {
  background-color: rgb(151, 151, 151);
  box-shadow: 0 0 8px rgb(151, 151, 151);
  border: 2px solid rgb(78, 78, 78);
}

@media screen and (max-width: 765px) {
  .button {
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .status {
    margin-left: 10px;
    font-size: 12px;
  }
  .status_border {
    position: relative;
    right: 12px;
    height: 3px;
    width: 110%;
  }
}
