.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.left_grid {
  max-width: 85%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}
.avatar_dot_wrapper {
  width: 64px;
  height: 64px;
  display: inline;
}

.right_grid {
  max-width: 15%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.right_grid:hover .logo {
  animation: logo-spin infinite 10s linear;
}
.title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color-2);
  text-shadow: 1px 0 1px var(--main-color-1);
}
.logo_wrapper {
  width: 40px;
  height: 20px;
}
.logo {
  position: relative;
  bottom: 90%;
  right: 36%;
  width: 70px;
}

.main_no_auth {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.title_no_auth {
  font-size: 44px;
  font-weight: bold;
  color: var(--main-color-2);
  text-shadow: 1px 1px 3px var(--main-color-1);
}
.logo_no_auth {
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo_no_auth {
    animation: logo-spin infinite 14s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
