.status_dot_top_avatar {
  position: relative;
  width: 18px;
  height: 18px;
  left: 80%;
  bottom: 30%;
  border-radius: 20px;
  z-index: 2;
}
.status_dot_list_avatar {
  position: relative;
  width: 12px;
  height: 12px;
  left: 85%;
  bottom: 30%;
  border-radius: 20px;
  z-index: 2;
}
.status_dot_selection {
  width: 16px;
  height: 16px;
  border-radius: 20px;
}

.color_online {
  background-color: rgb(6, 201, 49);
  box-shadow: 0 0 8px rgb(6, 201, 49);
  border: 2px solid rgb(5, 145, 35);
}
.color_away {
  background-color: rgb(228, 213, 0);
  box-shadow: 0 0 8px rgb(228, 213, 0);
  border: 2px solid rgb(177, 165, 8);
}
.color_busy {
  background-color: rgb(247, 9, 9);
  box-shadow: 0 0 8px rgb(247, 9, 9);
  border: 2px solid rgb(163, 7, 7);
}
.color_offline {
  background-color: rgb(151, 151, 151);
  box-shadow: 0 0 8px rgb(151, 151, 151);
  border: 2px solid rgb(78, 78, 78);
}

.dot_busy {
  position: relative;
  width: 50%;
  height: 25%;
  top: 25%;
  left: 25%;
  border-bottom: solid 2px black;
}

.dot_away {
  position: relative;
  width: 35%;
  height: 35%;
  top: 25%;
  left: 40%;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}
