@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

:root {
  --button-width: 34px;
  --button-height: 34px;
  /* colors */
  --main-color-1: #00586e;
  --main-color-2: #00ccff;
  --main-color-3: #003b49;
  --main-color-4: #000000e0;
  --navbar-color: #00ccff8f;
  --contrast-color-1: rgb(0, 138, 0);
  --contrast-color-2: #0050858f;

  --button-bgc-1: linear-gradient(90deg, transparent, var(--main-color-2));
  --button-bgc-2: linear-gradient(270deg, transparent, var(--main-color-2));

  --button-bgc-3: linear-gradient(180deg, transparent, var(--navbar-color));
  --button-bgc-4: linear-gradient(0deg, transparent, var(--navbar-color));

  --modal-bgc: linear-gradient(to top, #00ccff8f 0%, rgb(255, 255, 255) 25%);

  --msg-bg-3: linear-gradient(
    to top,
    rgba(34, 185, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
}

main {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
