@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

:root {
  --button-width: 34px;
  --button-height: 34px;
  /* colors */
  --main-color-1: #00586e;
  --main-color-2: #00ccff;
  --main-color-3: #003b49;
  --main-color-4: #000000e0;
  --main-color-5: #00ccff9c;

  --navbar-color: rgb(143, 205, 245);

  --contrast-color-1: #00ca00;
  --contrast-color-2: #0050858f;
  --contrast-color-3: rgb(0, 102, 0);
  --contrast-color-4: rgba(158, 158, 158, 0.555);

  --nav-bgc-color-1: linear-gradient(
    to right,
    var(--navbar-color) 0%,
    rgb(255, 255, 255) 90%
  );
  --nav-bgc-color-2: linear-gradient(
    to left,
    var(--navbar-color) 0%,
    rgb(255, 255, 255) 90%
  );

  --button-bgc-1: linear-gradient(90deg, transparent, var(--main-color-2));
  --button-bgc-2: linear-gradient(270deg, transparent, var(--main-color-2));
  --button-bgc-3: linear-gradient(180deg, transparent, var(--main-color-2));
  --button-bgc-4: linear-gradient(0deg, transparent, var(--main-color-2));

  --modal-bgc-1: linear-gradient(
    to top,
    var(--main-color-5) 0%,
    rgb(255, 255, 255) 25%
  );
  --modal-bgc-2: linear-gradient(
    to top,
    var(--main-color-5) 0%,
    rgb(255, 255, 255) 50%
  );

  --msg-bg-3: linear-gradient(
    to top,
    rgba(34, 185, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );

  --border-color-1: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--main-color-5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  --border-color-2: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--contrast-color-2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  --border-color-3: linear-gradient(
    to right,
    var(--contrast-color-2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

main {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
span {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
