.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 8px;
}

.text_button_wrapper {
  overflow-wrap: break-word;
  max-width: min(460px, 36vw);
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: baseline;
}

.username {
  max-width: min(460px, 36vw);
  overflow-wrap: break-word;
}
