.main_grid {
  /* display: flex;
  flex-flow: row nowrap; */
  width: 100vw;
  /* gap: 10px; */
  height: 100%;
  max-height: calc(100vh - 100px);
}

.left_grid {
  float: left;
  position: absolute;
  width: 28vw;
  height: 100%;
  max-height: calc(100vh - 115px);
  overflow: hidden;
  border: red solid 2px;
  z-index: 8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.left_grid:hover .resize_button {
  visibility: visible;
}
.room_list {
  width: 94%; /* leave some room for the drag-button */
  height: 100%;
  max-height: calc(100vh - 115px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.right_grid {
  float: right;
  width: 68vw;
  height: 100%;
  max-height: calc(100vh - 105px);
  border: red solid 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.menu_wrapper {
  min-width: calc(70vw - 14px);
}

.resize_button {
  position: absolute;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  background-color: red;
  content: "";
  z-index: 9;
  padding: 10px;
  width: 100%;
  right: 0px;
  visibility: hidden;
}
