.main_grid {
  width: 100vw;
  height: 100%;
  max-height: calc(100vh - 100px);
}

.left_grid {
  float: left;
  position: absolute;
  min-width: 275px;
  width: 275px;
  height: 100%;
  max-height: calc(100vh - 105px);
  overflow: hidden;
  border: red solid 2px;
  z-index: 8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.left_grid:hover .resize_handle_wrapper {
  visibility: visible;
}
.left_grid:active .resize_handle_wrapper {
  visibility: visible;
}

.room_list {
  width: calc(100% - 30px); /* leave  room for the drag-button */
  height: 100%;
  max-height: calc(100vh - 105px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.right_grid {
  float: right;
  width: calc(100vw - 275px);
  height: calc(100vh - 105px);
  max-height: calc(100vh - 105px);
  border: red solid 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.menu_wrapper {
  width: 100%;
}

.resize_handle_wrapper {
  position: absolute;
  height: 50vh;
  z-index: 9;
  right: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.resize_handle {
  padding: 4px;
  border-radius: 20rem;
  transform: rotate(90deg);
  cursor: grab;
}

.resize_handle:hover,
.resize_handle:active {
  background-color: var(--navbar-color);
}

.resize_bar_top {
  width: 3px;
  height: 45%;
  background: var(--button-bgc-3);
}
.resize_bar_bot {
  width: 3px;
  height: 45%;
  background: var(--button-bgc-4);
}
