.main_grid {
  width: 100vw;
  height: 100%;
  max-height: calc(100vh - 102px);
}

.left_grid {
  float: left;
  position: absolute;
  min-width: 100px;
  width: 294px;
  min-height: calc(100vh - 102px);
  max-height: calc(100vh - 102px);
  overflow: hidden;
  z-index: 8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.left_grid:hover .resize_handle_wrapper {
  visibility: visible;
}
.left_grid:active .resize_handle_wrapper {
  visibility: visible;
}

.room_list {
  width: calc(100% - 25px); /* leave  room for the drag-button */
  min-height: calc(100vh - 102px);
  max-height: calc(100vh - 102px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* to make the right_grid overlap the resize_handle_wrapper in the left_grip
  the width 269px is the size of the room_list width calc(100% - 25px)
*/
.right_grid {
  float: right;
  width: calc(100vw - 269px);
  height: calc(100vh - 102px);
  max-height: calc(100vh - 102px);
  background-image: url("../images/bg-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-left: 4px;
}

/* the handle itself does not change position while being dragged
  only the size of left and right menu changes. the handle is contained inside
  the left menu and stick to the right, so its position looks like 
  changing while the size of the right menu is changing
*/
.resize_handle_wrapper {
  position: absolute;
  height: 70vh;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.resize_handle {
  padding: 4px;
  border-radius: 20rem;
  transform: rotate(90deg);
  cursor: grab;
}

.resize_handle:hover,
.resize_handle:active {
  background-color: var(--main-color-2);
}

.resize_bar_top {
  width: 4px;
  height: 45%;
  background: var(--button-bgc-3);
}
.resize_bar_bot {
  width: 4px;
  height: 45%;
  background: var(--button-bgc-4);
}

@media screen and (max-width: 765px) {
  .main_grid {
    min-width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    overflow: scroll;
    min-height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
  }

  .left_grid {
    float: none;
    position: static;
    min-width: 100vw;
    width: 100vw;
    min-height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
  }

  .room_list {
    width: 100%;
    min-height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
  }

  .right_grid {
    float: none;
    width: 100vw;
    min-width: 100vw;
    min-height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
    padding-left: 0;
  }
}
