.main {
  max-height: calc(100vh - 160px);
  width: 100%;
  overflow: auto;
}

.drawer {
  display: flex;
  width: 90%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.plus_button {
  transition: all 0.5s;
}
.plus_button:hover {
  background-color: beige;
  transform: scale(1.2);
  transition: all 0.5s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  min-width: 500px;
  max-width: 40rem;
  background-color: white;
  background-image: linear-gradient(
    to top,
    rgba(34, 185, 255, 0.5) 0%,
    rgb(255, 255, 255) 25%
  );
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 3px 6px 8px;
}
