.drawer {
  margin-top: 10px;
  display: flex;
  width: 96%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.drawer_item_upper {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.drawer:hover .list_item_border_hover {
  transform: translateX(110%);
  transition: all 0.6s;
}
.list_item_border_hover {
  position: relative;
  left: -110%;
  bottom: 6px;
  border-radius: 10rem;
  height: 5px;
  min-width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--contrast-color-1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 0.6s;
}

.list_item_button {
  width: 100%;
  padding-bottom: 0;
}

.list_item_text_wrapper {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.list_item_text {
  font-size: 32px;
  width: 150px;
  max-width: 100%;
  font-weight: bold;
  color: var(--contrast-color-1);
  text-align: center;
}
.list_item_border {
  position: relative;
  bottom: 6px;
  border-radius: 10rem;
  height: 5px;
  min-width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--contrast-color-1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.arrow_up {
  transition: all 0.5;
}
.arrow_down {
  transition: all 0.5;
}
.list_item_button:hover .arrow_up {
  animation: mover 0.6s infinite alternate;
}
.list_item_button:hover .arrow_down {
  animation: mover 0.6s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.plus_button {
  border-radius: 10rem;
  padding: 4px;
  transition: all 0.5s;
  cursor: pointer;
}
.plus_button:hover {
  background-color: rgba(109, 109, 109, 0.205);
  transform: scale(1.2);
  transition: all 0.5s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  background-color: white;
  background-image: var(--modal-bgc);
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 3px 6px 8px;
}

.group_list {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.no_group_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 6px;
}
.create_button {
  font-size: 14px;
  padding: 1px;
  width: 190px;
}
.create_button:hover {
  background: linear-gradient(
    to right,
    var(--main-color-2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.close_icon_wrapper {
  height: 0;
  width: 100%;
  text-align: right;
}
.close_icon {
  position: relative;
  right: -10px;
  bottom: 14px;
  cursor: pointer;
}
