.main {
  width: 94%;
  min-height: calc(100vh - 62px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

.no_target {
  width: 94%;
  height: calc(100vh - 110px);
}

@media screen and (max-width: 765px) {
  .main {
    width: 100%;
    min-height: calc(100vh - 62px);
    border-radius: 0;
  }
  .no_target {
    width: 100%;
    height: calc(100vh - 62px);
  }
}
