.main {
  margin-top: 10px;
  margin-bottom: 16px;
  display: flex;
  width: 96%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.main_border {
  margin-top: 6px;
  height: 3px;
  min-width: 105%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--contrast-color-2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.invitation_wrapper {
  width: 94%;
  border: solid 2px var(--contrast-color-2);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.buttons_wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 1px;
  font-size: 12px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: auto;
  min-width: 300px;
  max-width: 44rem;
  background-color: white;
  background-image: var(--modal-bgc);
  /* border: 2px solid #000; */
  padding: 20px;
  box-shadow: 3px 6px 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.joining {
  font-size: 42px;
}

.cube_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.cube {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background: radial-gradient(white, rgba(34, 185, 255, 0.5));
  box-shadow: 2px 2px 6px black;
  border: black solid 2px;
  animation: mover 500ms infinite alternate;
  margin: 0 10px;
}
.cube:nth-child(2) {
  animation-delay: 100ms;
}
.cube:nth-child(3) {
  animation-delay: 200ms;
}
.cube:nth-child(4) {
  animation-delay: 300ms;
}
.cube:nth-child(5) {
  animation-delay: 400ms;
}
.cube:nth-child(6) {
  animation-delay: 500ms;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
