.main {
  width: 100%;
  min-height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.close_icon_wrapper {
  top: 0px;
  left: 0px;
  position: sticky;
  height: 0;
  width: 100%;
  text-align: right;
}
.close_icon {
  position: relative;
  right: 16px;
  top: 0;
  cursor: pointer;
}

.group_name_wrapper {
  margin-top: 10px;
  width: 92%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.list {
  width: 92%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.list_body {
  margin-top: 14px;
  max-width: 86%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.sub_title {
  font-size: 26px;
}
.short_border {
  height: 5px;
  min-width: 50%;
  background-image: var(--border-color-1);
}
.admin_tag {
  position: relative;
  width: 60px;
  font-size: 14px;
  border-radius: 20px;
  background-color: var(--main-color-2);
}

.outter_wrapper {
  width: 100px;
  max-width: 150px;
  margin: 5px;
}
.outter_wrapper_target {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 5px;
}
.member_wrapper {
  width: 100px;
  max-width: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.inv_result {
  width: auto;
  height: auto;
  font-size: 16px;
  color: var(--main-color-3);
}

.avatar {
  width: 60px;
  height: 60px;
  border: solid 4px #00a7d1;
  cursor: pointer;
  font-size: 46px;
  background-color: var(--main-color-1);
  transition: all 0.3s;
}
.avatar:hover {
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.815);
}
.username {
  max-width: 140px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

@media screen and (max-width: 765px) {
  .sub_title {
    font-size: 20px;
  }
  .list_body {
    max-width: 100%;
  }
}
