.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-image: url("../../../images/bg-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_body {
  margin-top: 110px;
  height: 100%;
}

.bg_image {
  position: absolute;
  display: block;
  width: 100%;
  height: 92%;
  min-height: 55vw;
  object-fit: cover;
  top: 100px;
  z-index: -1;
}

.create_new_account {
  width: 90vw;
  max-width: 600px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 5px solid var(--main-color-4);
  font-size: 36px;
}
.button {
  width: 44%;
  min-width: 200px;
  max-width: 300px;
  background: var(--button-bgc-1);
  font-size: 18px;
}
