.sign_in_button {
  float: right;
  height: 45px;
  width: 44%;
  min-width: 200px;
  max-width: 300px;
  border-radius: 6px !important;
  border: 0 !important;
  margin-bottom: 6px;
}

.sign_in_button:hover {
  background-image: var(--modal-bgc-1);
  transition: all 1s;
}

.sign_in_button span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 0 !important;
  width: 100%;
}

/* disble the default style */
.sign_in_button div {
  padding: 0 !important;
}
.sign_in_button div svg {
  height: 0px !important;
  width: 0px !important;
}

.text {
  width: 76%;
  color: black;
  font-size: 16px;
  text-align: center;
}

.loading {
  width: 24px;
  color: var(--main-color-2);
}

.logo {
  width: 30px;
}

.error {
  text-align: left;
  font-size: 14px;
  color: red;
}

@media screen and (max-width: 765px) {
  .sign_in_button {
    height: 38px;
  }

  .text {
    font-size: 14px;
  }
  .logo {
    width: 26px;
  }
}
